#                                Exception handling project 4

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
import requests
import re
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
import requests
import re
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [10]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [12]:
#driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)

In [13]:
# Creating empty list for storing data after scraping

Rank = []
Name = []
Artist = []
UploadDate = []
Views = []


# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
    
#scrapping rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
    
#scrapping Artist
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")

#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        UploadDate.append(i.text)
except NoSuchElementException:
    UploadDate.append('-')
# Scraping Views of videos


try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [14]:
# Creating DataFrame from scraped data
wikipedia = pd.DataFrame({})
wikipedia['Rank']=Rank
wikipedia['Name']=Name
wikipedia['Artist']=Artist
wikipedia['Upload Date']=UploadDate
wikipedia['Views']=Views

In [15]:
wikipedia

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.24
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.96
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.44
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.80
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.62
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.59
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.85
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.68
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.61
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.53
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.31
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.05
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.75
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.64
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.63
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.58
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.49
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.49
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.35
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.34
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.33
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.29
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.26
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.25
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.24
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.23
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.20
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.14

In [ ]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [45]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

# Getting the webpage of mentioned url 
url=('https://www.bcci.tv/')
driver.get(url)

In [46]:
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [47]:
cookies= driver.find_element(By.XPATH,'/html/body/div[6]/button') # click button
cookies.click()

In [48]:
category = driver.find_element(By.XPATH,'//body/div[2]/div[2]/div[1]/div[1]/div[1]/div[2]/div[2]/div[1]/div[3]/div[1]/div[1]') # click button
category.click()

In [52]:
ODI = driver.find_element(By.XPATH,'//body/div[2]/div[2]/div[1]/div[1]/div[1]/div[2]/div[2]/div[1]/div[3]/div[1]/div[2]/div[3]') # click button

In [53]:
#Creating Empty List
Name=[]
Series=[]
Place=[]
Date=[]
Time=[]
#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Name.append(i.text.replace('-',""))
except NoSuchElementException:
    Name.append('-')
#Scrapping Series
try:
    
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
#Scrapping Time
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        Time.append(i.text.replace('IST',""))
except NoSuchElementException:
    Time.append('-')

In [54]:
# Create Dataframe

Fixtures=pd.DataFrame({})
Fixtures['Title']=Series
Fixtures['Name']=Name
Fixtures['Place']=Place
Fixtures['Date']=Date
Fixtures['Time']=Time
Fixtures

,Title,Name,Place,Date,Time
0,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,1st ODI,"County Ground,",18 SEP 2022,3:30 PM
1,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,2nd ODI,"St Lawrence Ground,",21 SEP 2022,5:30 PM
2,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,3rd ODI,"Lord's Cricket Ground,",24 SEP 2022,3:30 PM
3,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,1st ODI,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,6 OCT 2022,1:30 PM
4,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI,"JSCA International Stadium Complex,",9 OCT 2022,1:30 PM
5,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI,"Arun Jaitley Stadium,",11 OCT 2022,1:30 PM

In [131]:
driver.close()

3.Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [18]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

# Getting the webpage of mentioned url 

driver.get("https://www.guru99.com/")
driver.maximize_window()

In [21]:
# Click Selenium Button
Selenium = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a")

In [22]:
 Selenium.click()

In [23]:
# Click selenium exception handling  Button
exception_handling = driver.find_element(By.XPATH,"//body[1]/div[1]/div[1]/div[1]/div[1]/main[1]/div[1]/article[1]/div[1]/div[1]/table[5]/tbody[1]/tr[34]/td[1]/a[1]/strong[1]")
try:
    exception_handling.click()
except ElementNotInteractableException:  #if the above code doesn't work/is not clickable then, the below code will handle it
    driver.get(exception_handling.get_attribute('href'))

In [50]:
name=[]
desc=[]
#Scrapping Name
for i in driver.find_elements(By.XPATH,'//article/div/div/p/strong'):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,"//article/div/div/p"):
    desc.append(i.text)

In [51]:
len(desc)

53

In [53]:
Selenium_Exception=pd.DataFrame()
Selenium_Exception['Exception name']=name[0:40]
Selenium_Exception['Description']=desc[0:40]
Selenium_Exception

,Exception name,Description
0,1. ElementNotVisibleException:,1. ElementNotVisibleException: This type of Se...
1,2. ElementNotSelectableException:,2. ElementNotSelectableException: This Seleniu...
2,3. NoSuchElementException:,3. NoSuchElementException: This Exception occu...
3,4. NoSuchFrameException:,4. NoSuchFrameException: This Exception occurs...
4,5. NoAlertPresentException:,5. NoAlertPresentException: This Exception occ...
5,6. NoSuchWindowException:,6. NoSuchWindowException: This Exception occur...
6,7. StaleElementReferenceException:,7. StaleElementReferenceException: This Seleni...
7,8. SessionNotFoundException:,8. SessionNotFoundException: The WebDriver is ...
8,9. TimeoutException:,9. TimeoutException: Thrown when there is not ...
9,10. WebDriverException:,10. WebDriverException: This Exception takes p...
10,11. ConnectionClosedException:,11. ConnectionClosedException: This type of Ex...
11,12. ElementClickInterceptedException:,12. ElementClickInterceptedException: The comm...
12,13. ElementNotInteractableException:,13. ElementNotInteractableException: This Sele...
13,14. ErrorInResponseException:,14. ErrorInResponseException: This happens whi...
14,15. ErrorHandler.UnknownServerException:,15. ErrorHandler.UnknownServerException: Excep...
15,16. ImeActivationFailedException:,16. ImeActivationFailedException: This expecta...
16,17. ImeNotAvailableException:,17. ImeNotAvailableException: It takes place w...
17,18. InsecureCertificateException:,18. InsecureCertificateException: Navigation m...
18,19. InvalidArgumentException:,19. InvalidArgumentException: It occurs when a...
19,20. InvalidCookieDomainException:,20. InvalidCookieDomainException: This happens...
20,21. InvalidCoordinatesException:,21. InvalidCoordinatesException: This type of ...
21,22. InvalidElementStateException:,22. InvalidElementStateException: It occurs wh...
22,23. InvalidSessionIdException:,23. InvalidSessionIdException: This Exception ...
23,24. InvalidSwitchToTargetException:,24. InvalidSwitchToTargetException: This occur...
24,25. JavascriptException:,25. JavascriptException: This issue occurs whi...
25,26. JsonException:,26. JsonException: It occurs when you afford t...
26,27. NoSuchAttributeException:,27. NoSuchAttributeException: This kind of Exc...
27,28. MoveTargetOutOfBoundsException:,28. MoveTargetOutOfBoundsException: It takes p...
28,29. NoSuchContextException:,29. NoSuchContextException: ContextAware does ...
29,30. NoSuchCookieException:,30. NoSuchCookieException: This Exception occu...
30,31. NotFoundException:,31. NotFoundException: This Exception is a sub...
31,32. RemoteDriverServerException:,32. RemoteDriverServerException: This Selenium...
32,33. ScreenshotException:,33. ScreenshotException: It is not possible to...
33,34. SessionNotCreatedException:,34. SessionNotCreatedException: It happens whe...
34,35. UnableToSetCookieException:,35. UnableToSetCookieException: This occurs if...
35,36. UnexpectedTagNameException:,36. UnexpectedTagNameException: Happens if a s...
36,37. UnhandledAlertException:,37. UnhandledAlertException: This expectation ...
37,38. UnexpectedAlertPresentException:,38. UnexpectedAlertPresentException: It occurs...
38,39. UnknownMethodException:,39. UnknownMethodException: This Exception hap...
39,40. UnreachableBrowserException:,40. UnreachableBrowserException: This Exceptio...

In [ ]:
driver.close()

4.Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [56]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

# Getting the webpage of mentioned url 
url=('http://statisticstimes.com/')
driver.get(url)

In [27]:
driver.find_element(By.XPATH,'/html/body/div[1]/div/a').click()

In [28]:
 #Clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

In [39]:
# follow the instruction , we will choose the economy option

urls = driver.find_element(By.XPATH,"//div[@class='dropdown-content']//a[3]")
ind_page = urls.get_attribute("href")

# going to the india economy page

driver.get(ind_page)

In [40]:
# get the url of page containing GDP of indian states

sta_GDP = driver.find_element(By.XPATH,"//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(6)

In [42]:
#Creating empty list

Rank = []
State = []
Gsdp_1 = []
Gsdp_2 = []
Share = []
Gsdp = []

In [44]:
# scrapping the data of rank

for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[1]"):
    Rank.append(i.text)

In [46]:
# scrapping the data of state name

for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[2]"):
    State.append(i.text)

In [47]:
# scrapping the data of Gsdp_1

for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[3]"):
    Gsdp_1.append(i.text)

In [48]:
# scrapping the data of Gsdp_2

for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[4]"):
    Gsdp_2.append(i.text)

In [49]:
# scrapping the data of share

for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[5]"):
    Share.append(i.text)

In [50]:
#scrapping the data of Gsdp

for i in driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']//tbody//tr//td[6]"):
    Gsdp.append(i.text)

In [51]:
#DATA FRAMEING
StatisticsTime=pd.DataFrame({})
StatisticsTime['Rank'] = Rank
StatisticsTime['State'] = State
StatisticsTime['Current GSDP (19-20)'] = Gsdp_1
StatisticsTime['current GSDP (18-19)'] = Gsdp_2
StatisticsTime['Share(18-19)'] = Share
StatisticsTime['GDP($ billion)'] = Gsdp

In [52]:
StatisticsTime

,Rank,State,Current GSDP (19-20),current GSDP (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [ ]:
driver.close()

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [77]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

# Getting the webpage of mentioned url 
url=('https://github.com/')
driver.get(url)

In [79]:
url = []
for i in driver.find_elements(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[1]/div/ul[2]/li[2]/a"):
    url.append(i.get_attribute('href'))
url

['https://github.com/features']

In [80]:
# Click on Trending

trending = driver.find_element(By.XPATH,'//*[@href="/trending"]')
try:
    driver.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [81]:
#Creating empty list:
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

#Fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [82]:
# Scraping Repository Title data
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

In [83]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(2)
    
        # Scraping Repository Description data
    try:
        desc = driver.find_element(By.XPATH,"//p[@class='f4 my-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # Scraping Contributors Count data
    try:
        contributor = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
     # Scraping Languages used data
    lang=[]
    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        lang.append('-')

In [84]:
print(len(repository_title),len(Description),len(Contributors),len(Language))

24 24 24 24

In [85]:
#Data Frame

Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language
Github

,Repository title,Repository description,Contributors count,Language used
0,surrealdb / surrealdb,"A scalable, distributed, collaborative, docume...",11,"[Rust, Other]"
1,TheAlgorithms / Python,All Algorithms implemented in Python,829,[Python]
2,meienberger / runtipi,⛺️ Tipi is a homeserver for everyone! One comm...,12,"[TypeScript, Shell, JavaScript, Other]"
3,yt-dlp / yt-dlp,A youtube-dl fork with additional features and...,"1,013","[Python, Other]"
4,NvChad / NvChad,An attempt to make neovim cli functional like ...,126,[Lua]
5,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,69,[]
6,karpathy / nn-zero-to-hero,Neural Networks: Zero to Hero,-,[Jupyter Notebook]
7,ventoy / Ventoy,A new bootable USB solution.,76,"[C, Shell, HTML, C++, CSS, Makefile, Other]"
8,microsoft / ML-For-Beginners,"12 weeks, 26 lessons, 52 quizzes, classic Mach...",121,"[Jupyter Notebook, Python, HTML, Vue, JavaScri..."
9,benphelps / homepage,A highly customizable homepage (or startpage /...,21,"[JavaScript, CSS, Dockerfile]"
10,SerenityOS / serenity,The Serenity Operating System 🐞,751,"[C++, JavaScript, HTML, C, Shell, CMake, Other]"
11,minimaxir / big-list-of-naughty-strings,The Big List of Naughty Strings is a list of s...,72,"[Python, Go, Shell, Makefile]"
12,ytdl-org / youtube-dl,Command-line program to download videos from Y...,769,"[Python, Other]"
13,alexeygrigorev / mlbookcamp-code,The code from the Machine Learning Bookcamp bo...,42,"[Jupyter Notebook, Other]"
14,trustwallet / assets,"A comprehensive, up-to-date collection of info...","3,663","[Go, Makefile]"
15,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,31,"[Python, JavaScript, Batchfile, CSS]"
16,tachiyomiorg / tachiyomi-extensions,Source extensions for the Tachiyomi app.,353,[Kotlin]
17,odin-lang / Odin,Odin Programming Language,136,"[Odin, C++, C, Python, Batchfile, Shell]"
18,vinta / awesome-python,"A curated list of awesome Python frameworks, l...",394,"[Python, Makefile]"
19,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...,302,"[C++, C, Objective-C++, Objective-C, GLSL, GDB]"
20,neurreps / awesome-neural-geometry,A curated collection of resources and research...,3,[]
21,ContainerSSH / ContainerSSH,ContainerSSH: Launch containers on demand,5,[Go]
22,n8n-io / n8n,Free and source-available fair-code licensed w...,301,"[TypeScript, Vue, SCSS, JavaScript, HTML, Dock..."
23,trpc / trpc,🧙‍♀️ Move Fast and Break Nothing. End-to-end t...,146,"[TypeScript, JavaScript, CSS]"

In [ ]:
driver.close()

6.Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A)Song name
B)Artist name
C)Last week rank
D)Peak rank
E)Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [177]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

# Getting the webpage of mentioned url 
url=('https:/www.billboard.com/')
driver.get(url)

In [110]:
#Clicking on charts
charts=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div[2]/div/nav/ul/li[1]/a').click()

In [111]:
# Creating empty lists
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [112]:
# Scraping name
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]'):
    Song_Name.append(i.text)
len(Song_Name)

100

In [113]:
#Scrappin Artist name 1 st one
Artist_Name.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']").text)
#Remainig Artist Name
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist_Name.extend([i.text for i in artistTag])
#Scapping Rank
rank=[]
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])
#Remaining RAnk
Rank=[]
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])

In [114]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [115]:
# slicing as per requirement
lastweekpos=Rank[0::3]
lastweekpos.insert(0,rank[0])
peakPos=Rank[1::3]
peakPos.insert(0,rank[1])
weeksonBoard=Rank[2::3]
weeksonBoard.insert(0,rank[2])

In [116]:
#check length of all
len(Song_Name),len(Artist_Name),len(lastweekpos),len(peakPos),len(weeksonBoard)

(100, 100, 133, 133, 133)

In [117]:
# Create Dataframe
df=pd.DataFrame()
df['SongName']=Song_Name[0:100]
df['ArtistName']=Artist_Name
df['Last Week']=lastweekpos[0:100]
df["PeekPosition"]=peakPos[0:100]
df['Weeks On board']=weeksonBoard[0:100]
df

,SongName,ArtistName,Last Week,PeekPosition,Weeks On board
0,As It Was\nHarry Styles\n1\n1\n23,Harry Styles,1,1,23
1,Bad Habit\nSteve Lacy\n2\n2\n10,Steve Lacy,2,2,10
2,Late Night Talking\nHarry Styles\n12\n3\n16,Harry Styles,12,3,16
3,Sunroof\nNicky Youre & dazy\n5\n4\n15,Nicky Youre & dazy,5,4,15
4,About Damn Time\nLizzo\n3\n1\n21,Lizzo,3,1,21
...,...,...,...,...,...
95,Thought You Should Know\nMorgan Wallen\n96\n12...,Morgan Wallen,88,42,5
96,Country On\nLuke Bryan\n-\n76\n3,Luke Bryan,,,
97,Static\nSteve Lacy\n-\n98\n1,Steve Lacy,83,18,18
98,Billie Eilish.\nArmani White\n-\n99\n1,Armani White,,,
99,Sin Fin\nRomeo Santos & Justin Timberlake\n-\n...,Romeo Santos & Justin Timberlake,93,84,4

In [ ]:
driver.close()

7.Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:
A)Name
B)Designation
C)Company
D)Skills they hire for
E)Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [118]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

driver.maximize_window()
# Getting the webpage of mentioned url 
url=('https://www.naukri.com/')
driver.get(url)
time.sleep(2)

In [119]:
#Fetching urls to navigate recruiter page
recruiter = driver.find_element(By.XPATH,'//a[@title="Search Jobs"]')
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [120]:
# clciking the Data Scienctist

search_field_designation = driver.find_element(By.TAG_NAME,"input").send_keys('Data Scientist')

In [121]:
# clciking on search_button

search_field_designation = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]').click()

In [122]:
# Creating empty list

Name = []
Designation = []
Company = []
Skills = []
Location = []

In [123]:
#Scraping data of Names

for i in driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']"):
    Name.append(i.text)

In [124]:
len(Name)

20

In [125]:
# scrapping drscription 

for i in driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']"):
    Designation.append(i.text)

In [126]:
len(Designation)

20

In [127]:
# Scrapping Company name 

for i in driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']"):
    Company.append(i.text)

In [128]:
# scrapping the skills

for i in driver.find_elements(By.XPATH,"//div[@class='job-description fs12 grey-text']"):
    Skills.append(i.text)

In [129]:
# scrapping location 

for i in driver.find_elements(By.XPATH,"//span[contains(text(),'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Ba')]"):
    Location.append(i.text)

In [130]:
#DATA FRAMEING

Naukri=pd.DataFrame({})
Naukri['Name'] = Name
Naukri['Designation'] = Designation
Naukri['Company'] = Company
Naukri['Skills'] = Skills

In [232]:
Naukri

,Name,Designation,Company,Skills
0,Accenture,Analystics & Modeling Specialist,Accenture,This role will be a part of Survey Solutions a...
1,Tech Mahindra,Job Opportunity on Data Science_ Python with T...,Tech Mahindra,Greetings of the Day!!!We have an opportunity ...
2,CitiusTech,Assistant Manager - Data Science,CitiusTech,"Work with OMICs, image, med device and RWE dat..."
3,NTT DATA Business Solutions Private Limited,Hiring For DATA Scientist @ NTT DATA Business ...,NTT DATA Business Solutions Private Limited,"Dear All, We have urgent requirement for Data ..."
4,Accenture,ACN - Applied Intelligence - Data & Insights -...,Accenture,We are looking for a highly motivated and pass...
5,IBM,Data Scientist,IBM,Demonstrated proficiency in multiple programmi...
6,Accenture,ACN - Applied Intelligence - C4DI - Sustainabi...,Accenture,Build client deliverables with experience in s...
7,upGrad,Data Scientist/AIML Engineer,upGrad,"Key Skills: Data Scientist, Fresher, Engineeri..."
8,Fractal Analytics,Lead ML Scientist,Fractal Analytics,10 years experience in data science and MLAcad...
9,TATA CONSULTANCY SERVICES (TCS),Tcs Hiring For Data Scientist,TATA CONSULTANCY SERVICES (TCS),"Programming exp in Python, Spark and Experienc..."
10,Bizongo,Data Scientist - II,Bizongo,Have experience with working and deploying sta...
11,Baker Hughes,Senior Data Scientist,Baker Hughes,"As a Senior Data Scientist, you will be respon..."
12,P&G,Data Scientist - IT,P&G,We look for leaders with strong academic resul...
13,Morgan Stanley,Senior Associate - MSET Support Role QR,Morgan Stanley,Extensive data analysis and engineering coveri...
14,GlobalLogic,Data Scientist,GlobalLogic,Bachelors in Computer Science or Math or Stati...
15,GlobalLogic,Data Scientist,GlobalLogic,"Role:Data Scientist will create, evaluate, dep..."
16,Infosys,Data Scientist,Infosys,Good verbal & written communication skills art...
17,Infosys,Data Scientist,Infosys,Bachelor of Engineering Good verbal & written ...
18,United Phosphorus Limited,Data Scientist,United Phosphorus Limited,Practical experience of developing advanced st...
19,Accenture,Senior Analyst-Data Science,Accenture,Skill required: Data Science - Predictive Mode...

In [ ]:
driver.close()


8.Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
A)Book name
B)Author name
C)Volumes sold
D)Publisher
E)Genre

In [341]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

# Getting the webpage of mentioned url 
url=(' https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-')
driver.get(url)

In [342]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)

In [343]:
#Creating empty list

Book_name = []
Author = []
Volumes_sold = []
Publisher = []
Genre = []

In [344]:
# scrapping the book names

for i in driver.find_elements(By.XPATH,"//tbody//tr//td[2]"):
    Book_name.append(i.text)

In [345]:
len(Book_name)

100

In [347]:
# scrapping the author name

for i in driver.find_elements(By.XPATH,"//tbody//tr//td[3]"):
    Author.append(i.text)

In [348]:
len(Author)

100

In [350]:
# scrapping the number of volume sold

for i in driver.find_elements(By.XPATH,"//tbody//tr//td[4]"):
    Volumes_sold.append(i.text)

In [351]:
len(Volumes_sold)

100

In [353]:
# scrapping the publisher

for i in driver.find_elements(By.XPATH,"//tbody//tr//td[5]"):
    Publisher.append(i.text)

In [354]:
len(Publisher)

100

In [356]:
# scrapping the genre

for i in driver.find_elements(By.XPATH,"//tbody//tr//td[6]"):
    Genre.append(i.text)

In [357]:
len(Genre)

100

In [358]:
#DATA FRAMEING

Novel=pd.DataFrame({})
Novel['Book Name'] = Book_name
Novel['Author'] = Author
Novel['Volume sold'] = Volumes_sold
Novel['Publisher'] = Publisher
Novel['Genre'] = Genre
Novel

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [ ]:
driver.close()

9.Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A)Name
B)Year span
C)Genre
D)Run time
E)Ratings
F)Votes

In [359]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [360]:
# calling url

url = ' https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [362]:
#Creating empty lists.

Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [363]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)

    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)

    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)

    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [364]:
#DATA FRAMEING
IMDB=pd.DataFrame({})
IMDB['Name'] = Name
IMDB['Year Span'] = Year_span
IMDB['Genre'] = Genre
IMDB['Run Time'] = Run_time
IMDB['Ratings'] = Ratings
IMDB['Votes'] = Votes

In [365]:
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,048,881"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,144,950"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"968,144"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"288,793"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,374"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,552"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,557"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"194,764"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,020"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"236,385"

In [ ]:
driver.close()

10.Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A)Dataset name
B)Data type
C)Task
D)Attribute type
E)No of instances
F)No of attribute
G)Year

In [239]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [240]:
# calling the url

url = 'https://archive.ics.uci.edu/'
driver.get(url)

In [241]:
#Finding view all dataset button

view_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")     
page_url = view_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(5)

In [242]:
#Getting page urls containing list of all datasets

all_lst = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
lst_url = all_lst.get_attribute("href")           
driver.get(lst_url)
time.sleep(5)

In [243]:
#fetching url for each dataset

data_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")    

urls = []     
for i in data_url:
    urls.append(i.get_attribute("href"))

In [244]:
#Creating empty list
Data_name = []
Data_type = []
Task = []
Attr_type = []
Instances = []
n_attributes = []
Year = []

In [245]:
#Scraping requiredinfo from urls
for i in urls:
    driver.get(i)
    time.sleep(3)
    
    
    #Scraping Dataset name
    try: 
        ds_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Data_name.append(ds_name.text)
    except NoSuchElementException:
        Data_name.append('-')
    time.sleep(1)
    
    
    #Scraping data type
    try:
        dtype = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if dtype.text == "N/A": raise NoSuchElementException
        Data_type.append(dtype.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(1)
    
    
    #Scraping Attribute type
    try:
        atype = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if atype.text == "N/A": raise NoSuchElementException
        Attr_type.append(atype.text)
    except NoSuchElementException:
        Attr_type.append('-')
    time.sleep(1)
     #scraping Task
    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(1)
    
    
    #Scraping No of instances
    try:
        inst = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if inst.text == "N/A": raise NoSuchElementException
        Instances.append(inst.text)
    except NoSuchElementException:
        Instances.append('-')
    time.sleep(1)
    
    
    #Scraping  No of attribute
    try:
        attr = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attr.text == "N/A": raise NoSuchElementException
        n_attributes.append(attr.text)
    except NoSuchElementException:
        n_attributes.append('-')
    time.sleep(1)
    
     #scraping year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(1)

In [246]:
# data framing

UCI=pd.DataFrame({})
UCI['Data Name'] = Data_name
UCI['Data Type'] = Data_type
UCI['Task'] = Task
UCI['Attribute type'] = Attr_type
UCI['No of instance'] = Instances
UCI['No of attributes'] = n_attributes
UCI['Year'] = Year

UCI

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
618,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
620,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
621,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990

In [ ]:
driver.close()