# Assignment -3

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1.First get the webpage https://www.naukri.com/
2.Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3.Then click the search button.
4.Then scrape the data for the first 10 jobs results you get.
5.Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [78]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [79]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [80]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [81]:
driver.get("https://www.naukri.com/")

In [82]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation

In [83]:
designation.send_keys('Data Analyst')

In [84]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [85]:
search_job=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_job.click()

In [86]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [87]:
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [88]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [89]:
df=pd.DataFrame({'job_title':job_title, 'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",iMindYourBusiness,0-2 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
2,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
3,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
4,Senior BI & Data Analyst,"Bangalore/Bengaluru, Pune, Mumbai (All Areas)",Samaira HR Solutions,2-4 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
6,Leap COE Intern(Data Analyst),Bangalore/Bengaluru,Info Origin Inc.,0-1 Yrs
7,Forecasting Analyst/ Data Scientist (US Client),"Bangalore/Bengaluru, Gurgaon/Gurugram\n(WFH du...",Concentrix,3-8 Yrs
8,Job opportunity Switzerland based MNC / JR. Da...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-2 Yrs
9,Job opportunity Switzerland based MNC / JR. Da...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-2 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:
1.First get the webpage https://www.naukri.com/
2.Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3.Then click the search button.
4.Then scrape the data for the first 10 jobs results you get.
5.Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [200]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [205]:
driver.get("https://www.naukri.com/")

In [206]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation

In [207]:
designation.send_keys('Data Scientist')

In [208]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [205]:
search_job=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_job.click()

In [215]:
job_title=[]
job_location=[]
company_name=[]

In [216]:
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [217]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [218]:
df=pd.DataFrame({'job_title':job_title, 'job_location':job_location,'company_name':company_name})
df

,job_title,job_location,company_name
0,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
1,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
2,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
4,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
5,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
8,Data Scientist,Bangalore/Bengaluru,Concentrix
9,Forecasting Analyst/ Data Scientist (US Client),"Bangalore/Bengaluru, Gurgaon/Gurugram\n(WFH du...",Concentrix

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
1.first get the webpage https://www.naukri.com/
2.Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3.Then click the search button.
4.Then apply the location filter and salary filter by checking the respective boxes
5.Then scrape the data for the first 10 jobs results you get.
6.Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [458]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [459]:
driver.get("https://www.naukri.com/")

In [460]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation

In [461]:
designation.send_keys('Data Scientist')

In [462]:
search_job=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_job.click()

In [470]:
# appplying the location filter
filter_button=driver.find_elements(By.XPATH,"//i[@class='fleft naukicon naukicon-checked']")
for i in filter_button:
    if i.text=="Delhi / NCR":
        i.click()
        break
    print(i)

<selenium.webdriver.remote.webelement.WebElement (session="ea8e7313f76bc95cfd854d91f0beda74", element="17743330-2e8c-4292-87e6-dccb0c893a90")>
<selenium.webdriver.remote.webelement.WebElement (session="ea8e7313f76bc95cfd854d91f0beda74", element="dc84ced1-1755-448a-817c-6cd3505f7a7e")>
<selenium.webdriver.remote.webelement.WebElement (session="ea8e7313f76bc95cfd854d91f0beda74", element="dc66072b-d418-4274-8c2f-83d01f4a39d5")>

In [471]:
print(filter_button)

[<selenium.webdriver.remote.webelement.WebElement (session="ea8e7313f76bc95cfd854d91f0beda74", element="17743330-2e8c-4292-87e6-dccb0c893a90")>, <selenium.webdriver.remote.webelement.WebElement (session="ea8e7313f76bc95cfd854d91f0beda74", element="dc84ced1-1755-448a-817c-6cd3505f7a7e")>, <selenium.webdriver.remote.webelement.WebElement (session="ea8e7313f76bc95cfd854d91f0beda74", element="dc66072b-d418-4274-8c2f-83d01f4a39d5")>]

In [472]:
#Applying the salary filter
filter_button=driver.find_elements(By.XPATH,"//i[@class='fleft naukicon naukicon-checked']")
for i in filter_button:
    if i.text=="3-6 Lakhs":
        i.click()
        break
    print(i)

<selenium.webdriver.remote.webelement.WebElement (session="ea8e7313f76bc95cfd854d91f0beda74", element="17743330-2e8c-4292-87e6-dccb0c893a90")>
<selenium.webdriver.remote.webelement.WebElement (session="ea8e7313f76bc95cfd854d91f0beda74", element="dc84ced1-1755-448a-817c-6cd3505f7a7e")>
<selenium.webdriver.remote.webelement.WebElement (session="ea8e7313f76bc95cfd854d91f0beda74", element="dc66072b-d418-4274-8c2f-83d01f4a39d5")>

In [477]:
print(filter_button)

[<selenium.webdriver.remote.webelement.WebElement (session="ea8e7313f76bc95cfd854d91f0beda74", element="17743330-2e8c-4292-87e6-dccb0c893a90")>, <selenium.webdriver.remote.webelement.WebElement (session="ea8e7313f76bc95cfd854d91f0beda74", element="dc84ced1-1755-448a-817c-6cd3505f7a7e")>, <selenium.webdriver.remote.webelement.WebElement (session="ea8e7313f76bc95cfd854d91f0beda74", element="dc66072b-d418-4274-8c2f-83d01f4a39d5")>]

In [473]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [474]:
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [475]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [476]:
df=pd.DataFrame({'job_title':job_title, 'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
6,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
9,Data Scientist,"Noida, Gurgaon/Gurugram, Jaipur",Celebal Technologies,1-5 Yrs

In [478]:
driver.close()

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1.Brand
2.Product Description
3.Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1.Go to Flipkart webpage by url : https://www.flipkart.com/
2.Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3.After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4.After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
5.Now scrape data from this page as usual
6.Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [285]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [286]:
url="https://www.flipkart.com/"
driver.get(url)

In [288]:
# finding element for job search bar
search_g= driver.find_element(By.XPATH,"//input[@type='text']")
search_g

In [289]:
# write on search bar
search_g.send_keys('sunglasses')

In [291]:
search_btn=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn

In [293]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

In [294]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [296]:
for i in range(3):
    b_name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    p_desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price =driver.find_elements_by_xpath("//div[@class='_25b18c']")
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [989]:
B_name[:100]

[]

In [298]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [299]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]

In [300]:
sun_gl

,Brand_name,P_price,Pr_desc,P_discount
0,VINCENT CHASE,"₹949₹1,99952% off","by Lenskart Polarized, UV Protection Cat-eye S...",52% off
1,VINCENT CHASE,"₹1,415₹1,99929% off","by Lenskart Polarized, UV Protection Aviator S...",29% off
2,Fastrack,₹799₹99920% off,UV Protection Wayfarer Sunglasses (Free Size),20% off
3,DAHAAZIL,₹204₹99979% off,"UV Protection, Night Vision, Riding Glasses Wa...",79% off
4,SRPM,"₹211₹1,29983% off",UV Protection Wayfarer Sunglasses (50),83% off
...,...,...,...,...
95,VINCENT CHASE,"₹264₹2,59989% off","by Lenskart Polarized, UV Protection Aviator S...",50% off
96,NuVew,₹267₹99973% off,UV Protection Aviator Sunglasses (57),73% off
97,LIZA ANGEL,"₹1,229₹1,99938% off","Riding Glasses, Night Vision Spectacle Sunglas...",80% off
98,Fastrack,"₹298₹2,49588% off",UV Protection Shield Sunglasses (Free Size),20% off
99,VINCENT CHASE,"₹279₹1,59982% off","by Lenskart Polarized, UV Protection Cat-eye S...",57% off

In [301]:
driver.close()

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. This task will be done in following steps:
1.First get the webpage  https://www.flipkart.com/
2.Enter “iphone 11” in “Search” field .
3.Then click the search button.

You will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1.Rating
2.Review summary
3.Full review
4.You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [1252]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [1253]:
url="https://www.flipkart.com/"
driver.get(url)

In [1254]:
login= driver.find_element(By.XPATH,"//button[@class='_2KpZ6l _2doB4z']")
login

In [1255]:
login.click()

In [1259]:
search_g= driver.find_element(By.XPATH,"//input[@class='_3704LK']")

In [1260]:
# write on search bar
search_g.send_keys('iphone 11')

In [1262]:
search_btn=driver.find_element(By.TAG_NAME,'svg')
search_btn

In [1264]:
search_btn.click()

In [1265]:
search_btn=driver.find_element(By.CLASS_NAME,'_4rR01T')
search_btn.click()

In [1270]:
url=driver.find_elements(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]')
url

[]

In [1269]:
for i in url[0:5]:
    print(i.get_attribute('href'))

In [1280]:
B_name=[]
Price=[]
P_desc=[]

In [1281]:
for i in range(4):
    rating=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    review_summary=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    full_review =driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    
    
    for j in rating:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in review_summary:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in full_review:
        Price.append(l.text)
    Price[:100]

In [1282]:
B_name[:100]

[]

In [1283]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

0
0
0

(None, None, None)

In [1116]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]

In [1117]:
sun_gl

    Brand_name  P_price  Pr_desc P_discount
0          NaN      NaN      NaN     5% off
1          NaN      NaN      NaN     5% off
2          NaN      NaN      NaN     5% off
3          NaN      NaN      NaN     5% off
4          NaN      NaN      NaN     5% off
5          NaN      NaN      NaN     5% off
6          NaN      NaN      NaN     3% off
7          NaN      NaN      NaN     9% off
8          NaN      NaN      NaN     5% off
9          NaN      NaN      NaN     5% off
10         NaN      NaN      NaN     5% off
11         NaN      NaN      NaN     5% off
12         NaN      NaN      NaN     5% off
13         NaN      NaN      NaN     5% off
14         NaN      NaN      NaN     3% off
15         NaN      NaN      NaN     9% off
16         NaN      NaN      NaN     5% off
17         NaN      NaN      NaN     5% off
18         NaN      NaN      NaN     5% off
19         NaN      NaN      NaN     5% off
20         NaN      NaN      NaN     5% off
21         NaN      NaN      NaN     5% off
22         NaN      NaN      NaN     3% off
23         NaN      NaN      NaN     9% off

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [1284]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [1285]:
driver.get('https://www.myntra.com/shoes')

In [1293]:
# appplying the price filter
filter_button=driver.find_elements(By.XPATH,"//label[@class='common-customerCheckbox vertical-filters-label']")
for i in filter_button:
    if i.text=="Rs. 6627 to Rs. 13085":
        i.click()
        break

In [1294]:
#Applying the black colur filter
filter_button=driver.find_elements(By.XPATH,"//li[@class='colour-listItem']")
for i in filter_button:
    if i.text=="Black":
        i.click()
        break

In [1295]:
B_name=[]
Price=[]
P_desc=[]

In [1296]:
for i in range(2):
    b_name=driver.find_elements(By.XPATH,"//h1[@class='pdp-title']")
    p_desc=driver.find_elements(By.XPATH,"//h1[@class='name']")
    price =driver.find_elements(By.XPATH,"//div[@class='product-price']")
 
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100]

In [1297]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

0
100
0

(None, None, None)

In [1298]:
print(Price)

['Rs. 7465Rs. 8295(10% OFF)', 'Rs. 7199Rs. 8999(20% OFF)', 'Rs. 11895Rs. 13995(15% OFF)', 'Rs. 10795', 'Rs. 7199Rs. 8999(20% OFF)', 'Rs. 8999', 'Rs. 9899Rs. 10999(10% OFF)', 'Rs. 12795', 'Rs. 8005Rs. 8895(10% OFF)', 'Rs. 9749Rs. 12999(25% OFF)', 'Rs. 7915Rs. 8795(10% OFF)', 'Rs. 6719Rs. 13999(52% OFF)', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 7649Rs. 8999(15% OFF)', 'Rs. 11999Rs. 14999(20% OFF)', 'Rs. 6749Rs. 8999(25% OFF)', 'Rs. 7495', 'Rs. 9999', 'Rs. 7124Rs. 9499(25% OFF)', 'Rs. 10999', 'Rs. 7465Rs. 8295(10% OFF)', 'Rs. 8295', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 7999', 'Rs. 12999', 'Rs. 9999', 'Rs. 7465Rs. 8295(10% OFF)', 'Rs. 9999', 'Rs. 9999', 'Rs. 10495', 'Rs. 8399Rs. 13999(40% OFF)', 'Rs. 11999', 'Rs. 6795', 'Rs. 9999', 'Rs. 6999', 'Rs. 10999', 'Rs. 8249Rs. 10999(25% OFF)', 'Rs. 6999', 'Rs. 7999Rs. 9999(20% OFF)', 'Rs. 8725Rs. 9695(10% OFF)', 'Rs. 11899Rs. 13999(15% OFF)', 'Rs. 7199Rs. 8999(20% OFF)', 'Rs. 12999', 'Rs. 6799Rs. 7999(15% OFF)', 'Rs. 11049Rs. 12999(15% OFF)', 'Rs. 10199Rs. 11999(15% OFF)', 'Rs. 9749Rs. 12999(25% OFF)', 'Rs. 7199Rs. 11999(40% OFF)', 'Rs. 12999', 'Rs. 7450', 'Rs. 7465Rs. 8295(10% OFF)', 'Rs. 7199Rs. 8999(20% OFF)', 'Rs. 11895Rs. 13995(15% OFF)', 'Rs. 10795', 'Rs. 7199Rs. 8999(20% OFF)', 'Rs. 8999', 'Rs. 9899Rs. 10999(10% OFF)', 'Rs. 12795', 'Rs. 8005Rs. 8895(10% OFF)', 'Rs. 9749Rs. 12999(25% OFF)', 'Rs. 7915Rs. 8795(10% OFF)', 'Rs. 6719Rs. 13999(52% OFF)', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 7649Rs. 8999(15% OFF)', 'Rs. 11999Rs. 14999(20% OFF)', 'Rs. 6749Rs. 8999(25% OFF)', 'Rs. 7495', 'Rs. 9999', 'Rs. 7124Rs. 9499(25% OFF)', 'Rs. 10999', 'Rs. 7465Rs. 8295(10% OFF)', 'Rs. 8295', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 7999', 'Rs. 12999', 'Rs. 9999', 'Rs. 7465Rs. 8295(10% OFF)', 'Rs. 9999', 'Rs. 9999', 'Rs. 10495', 'Rs. 8399Rs. 13999(40% OFF)', 'Rs. 11999', 'Rs. 6795', 'Rs. 9999', 'Rs. 6999', 'Rs. 10999', 'Rs. 8249Rs. 10999(25% OFF)', 'Rs. 6999', 'Rs. 7999Rs. 9999(20% OFF)', 'Rs. 8725Rs. 9695(10% OFF)', 'Rs. 11899Rs. 13999(15% OFF)', 'Rs. 7199Rs. 8999(20% OFF)', 'Rs. 12999', 'Rs. 6799Rs. 7999(15% OFF)', 'Rs. 11049Rs. 12999(15% OFF)', 'Rs. 10199Rs. 11999(15% OFF)', 'Rs. 9749Rs. 12999(25% OFF)', 'Rs. 7199Rs. 11999(40% OFF)', 'Rs. 12999', 'Rs. 7450']

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1.Title
2.Ratings
3.Price

In [1299]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [1300]:
driver.get('https://www.amazon.in/')

In [1301]:
# finding element for job search bar
search_g= driver.find_element(By.XPATH,"//input[@type='text']")
search_g

In [1304]:
# write on search bar
search_g.send_keys('Laptop')

In [1305]:
search_btn=driver.find_element(By.XPATH,"//input[@id='nav-search-submit-button']")
search_btn

In [1306]:
search_btn=driver.find_element(By.XPATH,"//input[@id='nav-search-submit-button']")
search_btn.click()

In [1318]:
filter_button=driver.find_elements(By.XPATH,"//span[@class='a-size-base a-color-base puis-bold-weight-text']")
for i in filter_button:
    if i.text=="Intel Core i7":
        i.click()
        break

In [1319]:
Title=[]
Price=[]
Rating=[]

In [1320]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//span[@class='a-size-base-plus a-color-base a-text-normal']")
    p_desc=driver.find_elements(By.XPATH,"//i[@class='a-icon a-icon-star-small a-star-small-3-5 aok-align-bottom']")
    price =driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
    
    
    for j  in b_name:
        Title.append(j.text)
    Title[:10]    
    
    
    
    for k in p_desc:
        Rating.append(k.text)
    Rating[:10] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:10]

In [1321]:
print(len(Title[:10])),print(len(Price[:10])),print(len(Rating[:10]))

10
10
9

(None, None, None)

In [1323]:
print(Title[:10])

['ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS', 'Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen 15.6"(39.62cm) FHD IPS Gaming Laptop (8GB/512GB SSD/4GB NVIDIA GTX 1650/120Hz/Windows 11/Backlit Keyboard/3months Game Pass/Onyx Black/2.2Kg), 81Y401BHIN', 'Acer Nitro 5 Core i7 11th Gen 15.6" (39.62cms) Full HD IPS Gaming Laptop (16 GB/256GB SSD/1 TB HDD/Win 11/4 GB Graphics/NVIDIA GeForce RTX 3050 Ti/144 Hz, Black, 2.4 kg) AN515-57', 'Samsung Galaxy Book2 Intel 12th Gen core i7 39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN', 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue', 'ASUS TUF Gaming F17 (2022), 17.3-inch (43.94 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 11/Office 2021/Gray/2.6 Kg), FX707ZM-HX030WS', 'Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN', 'ASUS Vivobook S15 OLED (2022), 15.6" (39.62 cms) FHD OLED, Intel Core Evo i7-12700H 12th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Grey/1.8 kg), K3502ZA-L701WS', 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu', 'Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-inch (35.56cm) FHD TN Antiglare Thin and Light Laptop (16GB RAM/512GB SSD/Windows 11 Home/Microsoft Office H&S 2021/FPR/Black/1.59 kg), 20TAS1B400']

In [1324]:
print(Price[:10])

['56,585', '62,990', '94,999', '79,490', '81,990', '1,32,990', '81,990', '94,990', '82,250', '94,990']

In [1326]:
print(Rating[:10])

['', '', '', '', '', '', '', '', '']

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
1.First get the webpage https://www.ambitionbox.com/
2.Click on the Job option as shown in the image
3.After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4.You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5.Then scrape the data for the first 10 jobs results you get on the above shown page.
6.Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually.

In [479]:
import requests

In [480]:
page=requests.get("https://www.ambitionbox.com/")
page

In [777]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [778]:
driver.get("https://www.ambitionbox.com/")

In [779]:
job=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[5]/a')
job.click()

In [812]:
designation=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')

In [782]:
designation.send_keys('Data Scientist')

In [785]:
search_job=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search_job.click()

In [786]:
filter_location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')

In [787]:
filter_location.click()

In [789]:
search_location=driver.find_element(By.XPATH,'//html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_location.click()

In [790]:
search_location.send_keys('Noida')

In [791]:
search_location.click()

In [793]:
filter_location=driver.find_elements(By.XPATH,'//label[@class="radio-label"]')
for i in filter_location:
    if i.text=="Noida":
        i.click()
        break

In [804]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [805]:
title_tags=driver.find_elements(By.XPATH,"//a[@class='title noclick']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
location_tags=driver.find_elements(By.XPATH,"//div[@class='entity loc']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
company_tags=driver.find_elements(By.XPATH,"//p[@class='company body-medium']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
experience_tags=driver.find_elements(By.XPATH,"//p[@class='body-small-l']")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [806]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [807]:
print(job_location)

['Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida', 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida', 'Noida', 'Noida', 'Noida', 'Ghaziabad, Gurgaon/Gurugram, Noida', 'Noida', 'Noida', 'Noida', 'Chennai, Bengaluru/Bangalore, Noida']

In [808]:
print(job_title)

['Hiring Data Scientist #productbasecompany #CBRE', 'Hiring For Genpact-Data Scientist- Forecasting-Immediate Joiners only', 'Genpact - Data Scientist - Forecasting/Python/R (6-10 yrs)', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Associate Manager - Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist - Noida/Bangalore']

In [809]:
print(company_name)

['CBRE South Asia Pvt Ltd', 'GENPACT India Private Limited', 'Genpact', 'Ericsson India Global Services Pvt. Ltd.', 'GENPACT India Private Limited', 'Optum Global Solutions (India) Private Limited', 'Optum Global Solutions (India) Private Limited', 'Ericsson India Global Services Pvt. Ltd.', 'SOPRA STERIA INDIA LIMITED', 'EXL Services.com ( I ) Pvt. Ltd.']

In [810]:
print(experience_required)

['5-9 years', '₹ 10-20 LPA', 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida', '5-9 Yrs', '₹ 10-20 LPA', 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida', 'python, data science, advanced excel +1 more', '7-12 Yrs', 'Not Disclosed', 'Noida']

In [813]:
df=pd.DataFrame({'job_title':job_title, 'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Hiring Data Scientist #productbasecompany #CBRE,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida",CBRE South Asia Pvt Ltd,5-9 years
1,Hiring For Genpact-Data Scientist- Forecasting...,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida",GENPACT India Private Limited,₹ 10-20 LPA
2,Genpact - Data Scientist - Forecasting/Python/...,Noida,Genpact,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida"
3,Data Scientist,Noida,Ericsson India Global Services Pvt. Ltd.,5-9 Yrs
4,Data Scientist,Noida,GENPACT India Private Limited,₹ 10-20 LPA
5,Data Scientist,"Ghaziabad, Gurgaon/Gurugram, Noida",Optum Global Solutions (India) Private Limited,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida"
6,Associate Manager - Data Scientist,Noida,Optum Global Solutions (India) Private Limited,"python, data science, advanced excel +1 more"
7,Data Scientist,Noida,Ericsson India Global Services Pvt. Ltd.,7-12 Yrs
8,Data Scientist,Noida,SOPRA STERIA INDIA LIMITED,Not Disclosed
9,Data Scientist - Noida/Bangalore,"Chennai, Bengaluru/Bangalore, Noida",EXL Services.com ( I ) Pvt. Ltd.,Noida

 10. Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:
1.First get the webpage https://www.ambitionbox.com/
2.Click on the salaries option as shown in the image.
3.After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4.Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5.Store the data in a dataframe.
Note: All the steps required during scraping should be done through code only and not manually.

In [1328]:
driver=webdriver.Chrome(r"C:\Users\pranay\Desktop\chromedriver_win32 (1)\chromedriver.exe")

In [1329]:
driver.get("https://www.ambitionbox.com/")

In [1330]:
salaries=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/a')

In [1331]:
salaries.click()

In [1332]:
browse_salaries=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[1]/img')

In [1333]:
salaries=driver.find_elements(By.XPATH,'//a[@class="subNavListItem"]')
for i in salaries :
    if i.text=="Browse salaries":
        i.click()
        break

In [1334]:
designation=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')

In [1335]:
designation.send_keys('Data Scientist')

In [1336]:
search_job=driver.find_element(By.XPATH,'//i[@class="icon-search"]')
search_job.click()

In [1337]:
search_job=driver.find_element(By.CLASS_NAME,'icon-search')
search_job.click()

In [1338]:
company_name=[]
salary_records=[]
min_salary=[]
avg_salary=[]
max_salary=[]
experience_required=[]

In [1339]:
company_tags=driver.find_elements(By.XPATH,"//p[@class='company body-medium']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
record_tags=driver.find_elements(By.XPATH,"//span[@class='datapoints']")
for i in record_tags[0:10]:
    record=i.text
    salary_records.append(record)
min_tags=driver.find_elements(By.XPATH,"//div[@class='value body-medium']")
for i in min_tags[0:10]:
    min=i.text
    min_salary.append(min)
max_tags=driver.find_elements(By.XPATH,"//div[@class='value body-medium']")
for i in max_tags[0:10]:
    max=i.text
    max_salary.append(max)
avg_tags=driver.find_elements(By.XPATH,"//p[@class='averageCtc']")
for i in avg_tags[0:10]:
    avg=i.text
    avg_salary.append(avg)
experience_tags=driver.find_elements(By.XPATH,"//div[@class='sbold-list-header']")                          
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [1340]:
print(len(company_name),len(salary_records),len(min_salary),len(avg_salary),len(max_salary),len(experience_required))

0 10 10 10 10 10

In [1341]:
print(company_name)

[]

In [1342]:
print(salary_records)

['(based on 51 salaries)', '(based on 334 salaries)', '(based on 36 salaries)', '(based on 133 salaries)', '(based on 71 salaries)', '(based on 41 salaries)', '(based on 105 salaries)', '(based on 29 salaries)', '(based on 56 salaries)', '(based on 68 salaries)']

In [1343]:
print(min_salary)

['₹ 11.7L', '₹ 97.0L', '₹ 13.0L', '₹ 50.0L', '₹ 12.0L', '₹ 34.0L', '₹ 8.7L', '₹ 45.0L', '₹ 14.0L', '₹ 30.0L']

In [1344]:
print(max_salary)

['₹ 11.7L', '₹ 97.0L', '₹ 13.0L', '₹ 50.0L', '₹ 12.0L', '₹ 34.0L', '₹ 8.7L', '₹ 45.0L', '₹ 14.0L', '₹ 30.0L']

In [1345]:
print(avg_salary)

['₹ 34.0L', '₹ 23.6L', '₹ 22.9L', '₹ 21.2L', '₹ 20.7L', '₹ 20.6L', '₹ 20.1L', '₹ 19.6L', '₹ 19.4L', '₹ 19.3L']

In [1346]:
print(experience_required)

['1-4 yrs experience (based on 51 salaries)', '1-4 yrs experience (based on 334 salaries)', '1-2 yrs experience (based on 36 salaries)', '1-4 yrs experience (based on 133 salaries)', '2-4 yrs experience (based on 71 salaries)', '2-4 yrs experience (based on 41 salaries)', '1-4 yrs experience (based on 105 salaries)', '1-2 yrs experience (based on 29 salaries)', '1-4 yrs experience (based on 56 salaries)', '1-2 yrs experience (based on 68 salaries)']

In [ ]:
df=pd.DataFrame({'company_name':company_name, 'salary_records':salary_records,'min_salary':min_salary,'avg_salary':avg_salary,'max_salary':max_salary,'experience_required':experience_required})
df