# project:2

#1)Write a python program to display all the header tags from wikipedia.org.

In [1]:
import requests
from bs4 import BeautifulSoup
response = requests.get('https://www.wikipedia.org/')
#print(response)
bs = BeautifulSoup(response.content,'lxml')
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print("")
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="central-textlogo-wrapper">
<span class="central-textlogo__image sprite svg-Wikipedia_wordmark">
Wikipedia
</span>
<strong class="jsl10n localized-slogan" data-jsl10n="portal.slogan">The Free Encyclopedia</strong>
</h1>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000 000+
</bdi>
<span class="jsl10n" data-jsl10n="entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
10 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

a)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [2]:
import requests
from bs4 import BeautifulSoup
url='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
response=requests.get(url)
#print(response)
soup = BeautifulSoup(response.content)
soup1= BeautifulSoup(response.content)
#print(soup)
Team_=soup1.find_all('tr',class_="rankings-block__banner")
Teams=soup.find_all('tr',class_='table-body')[:9]
#print(Teams)
Team=soup.find('tr',class_='table-body')
#print(Team)
Team=soup1.find('tr',class_='rankings-block__banner')
for Team1 in Team_:
    Team_name=Team1.find("span",class_="u-hide-phablet").text
    Team_match= Team1.find("td",class_='rankings-block__banner--matches').text
    Team_Point= Team1.find("td",class_='rankings-block__banner--points').text
    Team_Ratings= Team1.find("td",class_='rankings-block__banner--rating u-text-right').text.replace(" ","").replace("\n","")
    print("Team_name:",Team_name)
    print("Team_Point:",Team_Point)
    print("Team_match:",Team_match)
    print("Team_Ratings:",Team_Ratings)
    print("")

    
    
for Team in Teams:
    
    
    Team_name=Team.find("span",class_="u-hide-phablet").text
    Team_matches= Team.find_all("td",class_='table-body__cell u-center-text')
    Team_match=Team_matches[0].text
    Team_Points= Team.find_all("td",class_='table-body__cell u-center-text')
    Team_Point=Team_Points[1].text
    Team_Ratings= Team.find("td",class_='table-body__cell u-text-right rating').text
    print("Team_name:",Team_name)
    print("Team_Point:",Team_Point)
    print("Team_match:",Team_match)
    print("Team_Ratings:",Team_Ratings)
    print("")

Team_name: New Zealand
Team_Point: 2,051
Team_match: 16
Team_Ratings: 128

Team_name: England
Team_Point: 3,226
Team_match: 27
Team_Ratings: 119

Team_name: India
Team_Point: 3,085
Team_match: 28
Team_Ratings: 110

Team_name: Pakistan
Team_Point: 2,005
Team_match: 19
Team_Ratings: 106

Team_name: Australia
Team_Point: 2,325
Team_match: 23
Team_Ratings: 101

Team_name: South Africa
Team_Point: 2,111
Team_match: 21
Team_Ratings: 101

Team_name: Bangladesh
Team_Point: 2,639
Team_match: 27
Team_Ratings: 98

Team_name: Sri Lanka
Team_Point: 2,658
Team_match: 29
Team_Ratings: 92

Team_name: West Indies
Team_Point: 2,621
Team_match: 38
Team_Ratings: 69

Team_name: Afghanistan
Team_Point: 1,238
Team_match: 18
Team_Ratings: 69

Top 10 ODI Batsmen along with the records of their team and rating

In [3]:
import requests
from bs4 import BeautifulSoup
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
response=requests.get(url)
#print(response)
soup = BeautifulSoup(response.content,'html.parser')
soup1= BeautifulSoup(response.content,'html.parser')
#print(soup)
Team_=soup1.find_all('div',class_="rankings-block__banner")[:1]
Teams=soup.find_all('tr',class_="table-body")[:9]
#print(Team_)
Team=soup.find('tr',class_='table-body')
#print(Team)
Team1=soup1.find('div',class_="rankings-block__banner")
for Team1 in Team_:
    Batsmen_name=Team1.find("div",class_="rankings-block__banner--name").text
    
    Team_name= Team1.find("div",class_='rankings-block__banner--nationality').text.split()[0]
   
    Team_Ratings= Team1.find("div",class_='rankings-block__banner--rating').text
    print("Batsmen_name:",Batsmen_name)
    print("Team_name:",Team_name)
    print("Team_Ratings:",Team_Ratings)
    print("")


 
    
for Team in Teams:
    
    Batsmen_name=Team.find("td",class_="table-body__cell name").a.text
    Team_name= Team.find("span",class_='table-body__logo-text').text
    Team_Ratings= Team.find("td",class_='table-body__cell u-text-right rating').text
    print("Batsmen_name:",Batsmen_name)
    print("Team_name:",Team_name)
    print("Team_Ratings:",Team_Ratings)
    print("")


 
    
for Team in Teams:
    
    Player_name=Team.find("td",class_="table-body__cell name").a.text
    Team_name= Team.find("span",class_='table-body__logo-text').text
    Team_Ratings= Team.find("td",class_='table-body__cell u-text-right rating').text
    print("Player_name:",Player_name)
    print("Team_name:",Team_name)
    print("Team_Ratings:",Team_Ratings)
    print("")

Batsmen_name: Babar Azam
Team_name: PAK
Team_Ratings: 892

Batsmen_name: Imam-ul-Haq
Team_name: PAK
Team_Ratings: 815

Batsmen_name: Rassie van der Dussen
Team_name: SA
Team_Ratings: 789

Batsmen_name: Quinton de Kock
Team_name: SA
Team_Ratings: 784

Batsmen_name: Virat Kohli
Team_name: IND
Team_Ratings: 767

Batsmen_name: Rohit Sharma
Team_name: IND
Team_Ratings: 763

Batsmen_name: Ross Taylor
Team_name: NZ
Team_Ratings: 744

Batsmen_name: David Warner
Team_name: AUS
Team_Ratings: 737

Batsmen_name: Jonny Bairstow
Team_name: ENG
Team_Ratings: 732

Batsmen_name: Aaron Finch
Team_name: AUS
Team_Ratings: 715

Player_name: Imam-ul-Haq
Team_name: PAK
Team_Ratings: 815

Player_name: Rassie van der Dussen
Team_name: SA
Team_Ratings: 789

Player_name: Quinton de Kock
Team_name: SA
Team_Ratings: 784

Player_name: Virat Kohli
Team_name: IND
Team_Ratings: 767

Player_name: Rohit Sharma
Team_name: IND
Team_Ratings: 763

Player_name: Ross Taylor
Team_name: NZ
Team_Ratings: 744

Player_name: David Warner
Team_name: AUS
Team_Ratings: 737

Player_name: Jonny Bairstow
Team_name: ENG
Team_Ratings: 732

Player_name: Aaron Finch
Team_name: AUS
Team_Ratings: 715

c)Top 10 ODI bowlers along with the records of their team and rating.

In [4]:
import requests
from bs4 import BeautifulSoup
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
response=requests.get(url)
#print(response)
soup = BeautifulSoup(response.content,'html.parser')
soup1= BeautifulSoup(response.content,'html.parser')
#print(soup)
Team_=soup1.find_all('div',class_="rankings-block__banner")[1:2]
Teams=soup.find_all('tr',class_='table-body')[9:18]

#print(Team_)
#print(Teams)
Team=soup.find_all('tr',class_='table-body')
#print(Team)
Team1=soup1.find('div',class_="rankings-block__banner")
for Team1 in Team_:
    Bowler_name=Team1.find("div",class_="rankings-block__banner--name").text
 
    Team_name= Team1.find("div",class_="rankings-block__banner--nationality").text.split()[0]
    Team_Ratings= Team1.find("div",class_='rankings-block__banner--rating').text
    print("Bowler_name:",Bowler_name)
    print("Team_name:",Team_name)
    print("Team_Ratings:",Team_Ratings)
    print("")


 
    
for Team in Teams:
    
    Bowler_name=Team.find("td",class_="table-body__cell name").a.text
    Team_name= Team.find("span",class_='table-body__logo-text').text
    Team_Ratings= Team.find("td",class_='table-body__cell u-text-right rating').text
    print("Bowler_name:",Bowler_name)
    print("Team_name:",Team_name)
    print("Team_Ratings:",Team_Ratings)
    print("")

Bowler_name: Trent Boult
Team_name: NZ
Team_Ratings: 697

Bowler_name: Jasprit Bumrah
Team_name: IND
Team_Ratings: 682

Bowler_name: Shaheen Afridi
Team_name: PAK
Team_Ratings: 681

Bowler_name: Josh Hazlewood
Team_name: AUS
Team_Ratings: 679

Bowler_name: Mujeeb Ur Rahman
Team_name: AFG
Team_Ratings: 676

Bowler_name: Mehedi Hasan
Team_name: BAN
Team_Ratings: 672

Bowler_name: Matt Henry
Team_name: NZ
Team_Ratings: 663

Bowler_name: Mohammad Nabi
Team_name: AFG
Team_Ratings: 657

Bowler_name: Rashid Khan
Team_name: AFG
Team_Ratings: 651

Bowler_name: Chris Woakes
Team_name: ENG
Team_Ratings: 640

4)Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [5]:
import requests
r=requests.get("https://presidentofindia.nic.in/former-presidents.htm",'lxml')
soup=BeautifulSoup(r.content)
president_name=soup.find_all('div',class_="presidentListing")


for president in president_name:
    President=president.h3.text
    term=president.p.text

    print("Name :",President)
    print(term)

Name : Shri Ram Nath Kovind (birth - 1945)
Term of Office: 25 July, 2017 to 25 July, 2022
Name : Shri Pranab Mukherjee (1935-2020)
Term of Office: 25 July, 2012 to 25 July, 2017
Name : Smt Pratibha Devisingh Patil (birth - 1934)
Term of Office: 25 July, 2007 to 25 July, 2012
Name : DR. A.P.J. Abdul Kalam (1931-2015)
Term of Office: 25 July, 2002 to 25 July, 2007
Name : Shri K. R. Narayanan (1920 - 2005)
Term of Office: 25 July, 1997 to 25 July, 2002
Name : Dr Shankar Dayal Sharma (1918-1999)
Term of Office: 25 July, 1992 to 25 July, 1997
Name : Shri R Venkataraman (1910-2009)
Term of Office: 25 July, 1987 to 25 July, 1992
Name : Giani Zail Singh (1916-1994)
Term of Office: 25 July, 1982 to 25 July, 1987
Name : Shri Neelam Sanjiva Reddy (1913-1996)
Term of Office: 25 July, 1977 to 25 July, 1982
Name : Dr. Fakhruddin Ali Ahmed (1905-1977)
Term of Office: 24 August, 1974 to 11 February, 1977
Name : Shri Varahagiri Venkata Giri (1894-1980)
Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974
Name : Dr. Zakir Husain (1897-1969)
Term of Office: 13 May, 1967 to 3 May, 1969
Name : Dr. Sarvepalli Radhakrishnan (1888-1975)
Term of Office: 13 May, 1962 to 13 May, 1967
Name : Dr. Rajendra Prasad (1884-1963)
Term of Office: 26 January, 1950 to 13 May, 1962

a)Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [6]:
import requests
from bs4 import BeautifulSoup
url='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
response=requests.get(url)
#print(response)
soup = BeautifulSoup(response.content)
soup1= BeautifulSoup(response.content)
#print(soup)
Team_=soup1.find_all('tr',class_="rankings-block__banner")
Teams=soup.find_all('tr',class_='table-body')[:9]
#print(Teams)
Team=soup.find('tr',class_='table-body')
#print(Team)
Team=soup1.find('tr',class_='rankings-block__banner')
for Team1 in Team_:
    Team_name=Team1.find("span",class_="u-hide-phablet").text
    Team_match= Team1.find("td",class_='rankings-block__banner--matches').text
    Team_Point= Team1.find("td",class_='rankings-block__banner--points').text
    Team_Ratings= Team1.find("td",class_='rankings-block__banner--rating u-text-right').text.replace(" ","").replace("\n","")
    print("Team_name:",Team_name)
    print("Team_Point:",Team_Point)
    print("Team_match:",Team_match)
    print("Team_Ratings:",Team_Ratings)
    print("")

    
    
for Team in Teams:
    
    
    Team_name=Team.find("span",class_="u-hide-phablet").text
    Team_matches= Team.find_all("td",class_='table-body__cell u-center-text')
    Team_match=Team_matches[0].text
    Team_Points= Team.find_all("td",class_='table-body__cell u-center-text')
    Team_Point=Team_Points[1].text
    Team_Ratings= Team.find("td",class_='table-body__cell u-text-right rating').text
    print("Team_name:",Team_name)
    print("Team_Point:",Team_Point)
    print("Team_match:",Team_match)
    print("Team_Ratings:",Team_Ratings)
    print("")

Team_name: Australia
Team_Point: 4,837
Team_match: 29
Team_Ratings: 167

Team_name: England
Team_Point: 4,046
Team_match: 33
Team_Ratings: 123

Team_name: South Africa
Team_Point: 4,157
Team_match: 35
Team_Ratings: 119

Team_name: India
Team_Point: 3,219
Team_match: 32
Team_Ratings: 101

Team_name: New Zealand
Team_Point: 3,019
Team_match: 31
Team_Ratings: 97

Team_name: West Indies
Team_Point: 2,768
Team_match: 30
Team_Ratings: 92

Team_name: Bangladesh
Team_Point: 930
Team_match: 12
Team_Ratings: 78

Team_name: Pakistan
Team_Point: 1,962
Team_match: 30
Team_Ratings: 65

Team_name: Sri Lanka
Team_Point: 495
Team_match: 11
Team_Ratings: 45

Team_name: Ireland
Team_Point: 351
Team_match: 8
Team_Ratings: 44

b)Top 10 women’s ODI Batting players along with the records of their team and rating.

In [7]:
import requests
from bs4 import BeautifulSoup
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
response=requests.get(url)
#print(response)
soup = BeautifulSoup(response.content,'html.parser')
soup1= BeautifulSoup(response.content,'html.parser')
#print(soup)
Team_=soup1.find_all('div',class_="rankings-block__banner")[:1]
Teams=soup.find_all("tr",class_="table-body")[:9]
#print(Team_)
#print(Teams)
Team=soup.find("tr",class_="table-body")
#print(Team)
Team1=soup1.find('div',class_="rankings-block__banner")
#print(Team1)
for Team1 in Team_:
    Batsmen_name=Team1.find("div",class_='rankings-block__banner--name').text
    
    Team_name= Team1.find("div",'rankings-block__banner--nationality').text.split()[0]
   
    Team_Ratings= Team1.find("div",class_='rankings-block__banner--rating').text
    print("Batsmen_name:",Batsmen_name)
    print("Team_name:",Team_name)
    print("Team_Ratings:",Team_Ratings)
    print("")


 
    
for Team in Teams:
    
    Batsmen_name=Team.find("td",class_="table-body__cell name").a.text
    Team_name= Team.find("span",class_='table-body__logo-text').text
    Team_Ratings= Team.find("td",class_='table-body__cell u-text-right rating').text
    print("Batsmen_name:",Batsmen_name)
    print("Team_name:",Team_name)
    print("Team_Ratings:",Team_Ratings)
    print("")

Batsmen_name: Alyssa Healy
Team_name: AUS
Team_Ratings: 785

Batsmen_name: Beth Mooney
Team_name: AUS
Team_Ratings: 749

Batsmen_name: Natalie Sciver
Team_name: ENG
Team_Ratings: 747

Batsmen_name: Laura Wolvaardt
Team_name: SA
Team_Ratings: 732

Batsmen_name: Meg Lanning
Team_name: AUS
Team_Ratings: 710

Batsmen_name: Rachael Haynes
Team_name: AUS
Team_Ratings: 701

Batsmen_name: Amy Satterthwaite
Team_name: NZ
Team_Ratings: 681

Batsmen_name: Tammy Beaumont
Team_name: ENG
Team_Ratings: 667

Batsmen_name: Chamari Athapaththu
Team_name: SL
Team_Ratings: 655

Batsmen_name: Smriti Mandhana
Team_name: IND
Team_Ratings: 649

Top 10 women’s ODI bowlers along with the records of their team and rating.

In [8]:
import requests
from bs4 import BeautifulSoup
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
response=requests.get(url)
#print(response)
soup = BeautifulSoup(response.content,'html.parser')
soup1= BeautifulSoup(response.content,'html.parser')
#print(soup)
Team_=soup1.find_all('div',class_="rankings-block__banner")[1:2]
Teams=soup.find_all('tr',class_='table-body')[9:18]

#print(Team_)
#print(Teams)
Team=soup.find_all('tr',class_='table-body')
#print(Team)
Team1=soup1.find('div',class_="rankings-block__banner")
for Team1 in Team_:
    Bowler_name=Team1.find("div",class_="rankings-block__banner--name").text
 
    Team_name= Team1.find("div",class_="rankings-block__banner--nationality").text.split()[0]
    Team_Ratings= Team1.find("div",class_='rankings-block__banner--rating').text
    print("Bowler_name:",Bowler_name)
    print("Team_name:",Team_name)
    print("Team_Ratings:",Team_Ratings)
    print("")


 
    
for Team in Teams:
    
    Bowler_name=Team.find("td",class_="table-body__cell name").a.text
    Team_name= Team.find("span",class_='table-body__logo-text').text
    Team_Ratings= Team.find("td",class_='table-body__cell u-text-right rating').text
    print("Bowler_name:",Bowler_name)
    print("Team_name:",Team_name)
    print("Team_Ratings:",Team_Ratings)
    print("")

Bowler_name: Sophie Ecclestone
Team_name: ENG
Team_Ratings: 761

Bowler_name: Jess Jonassen
Team_name: AUS
Team_Ratings: 725

Bowler_name: Megan Schutt
Team_name: AUS
Team_Ratings: 722

Bowler_name: Shabnim Ismail
Team_name: SA
Team_Ratings: 722

Bowler_name: Jhulan Goswami
Team_name: IND
Team_Ratings: 644

Bowler_name: Ayabonga Khaka
Team_name: SA
Team_Ratings: 634

Bowler_name: Rajeshwari Gayakwad
Team_name: IND
Team_Ratings: 613

Bowler_name: Hayley Matthews
Team_name: WI
Team_Ratings: 612

Bowler_name: Katherine Brunt
Team_name: ENG
Team_Ratings: 601

Bowler_name: Marizanne Kapp
Team_name: SA
Team_Ratings: 598

Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [9]:
import requests
from bs4 import BeautifulSoup
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
response=requests.get(url)
#print(response)
soup = BeautifulSoup(response.content,'html.parser')
soup1= BeautifulSoup(response.content,'html.parser')
#print(soup)
Team_=soup1.find_all('div',class_="rankings-block__banner")[2:3]
Teams=soup.find_all('tr',class_='table-body')[18:27]

#print(Team_)
#print(Teams)
Team=soup.find_all('tr',class_='table-body')
#print(Team)
Team1=soup1.find('div',class_="rankings-block__banner")
for Team1 in Team_:
    All_rounder_name=Team1.find("div",class_="rankings-block__banner--name").text
 
    Team_name= Team1.find("div",class_="rankings-block__banner--nationality").text.split()[0]
    Team_Ratings= Team1.find("div",class_='rankings-block__banner--rating').text
    print("All_rounder_name:",All_rounder_name)
    print("Team_name:",Team_name)
    print("Team_Ratings:",Team_Ratings)
    print("")


 
    
for Team in Teams:
    
    All_rounder_name=Team.find("td",class_="table-body__cell name").a.text
    Team_name= Team.find("span",class_='table-body__logo-text').text
    Team_Ratings= Team.find("td",class_='table-body__cell u-text-right rating').text
    print("All_rounder_name:",All_rounder_name)
    print("Team_name:",Team_name)
    print("Team_Ratings:",Team_Ratings)
    print("")

All_rounder_name: Natalie Sciver
Team_name: ENG
Team_Ratings: 379

All_rounder_name: Ellyse Perry
Team_name: AUS
Team_Ratings: 374

All_rounder_name: Marizanne Kapp
Team_name: SA
Team_Ratings: 349

All_rounder_name: Hayley Matthews
Team_name: WI
Team_Ratings: 339

All_rounder_name: Amelia Kerr
Team_name: NZ
Team_Ratings: 336

All_rounder_name: Ashleigh Gardner
Team_name: AUS
Team_Ratings: 270

All_rounder_name: Deepti Sharma
Team_name: IND
Team_Ratings: 252

All_rounder_name: Jess Jonassen
Team_name: AUS
Team_Ratings: 246

All_rounder_name: Katherine Brunt
Team_name: ENG
Team_Ratings: 220

All_rounder_name: Stafanie Taylor
Team_name: WI
Team_Ratings: 207

Write a python program to scrape the details of most downloaded articles from AI in last 90 days. https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

In [10]:
import requests
from bs4 import BeautifulSoup
url="https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
response=requests.get(url)
soup = BeautifulSoup(response.content)

Article=soup.find_all("li",class_="sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp")
paper=soup.find("li",class_="sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp")

for paper in Article:
    Paper_Title = paper.find("h2",class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR").text
    Authors=paper.find('span',class_="sc-1w3fpd7-0 pgLAT").text
    Published_date=paper.find('span',class_="sc-1thf9ly-2 bKddwo").text
    Paper_URL=paper.article.a['href']
    print("Paper_Title : ",Paper_Title )
    print("Authors: ",Authors)
    print('Published_date : ',Published_date)
    print("Paper_URL :", Paper_URL)
    print("")

Paper_Title :  Reward is enough
Authors:  Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S.
Published_date :  October 2021
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370221000862

Paper_Title :  Making sense of raw input
Authors:  Evans, Richard, Bošnjak, Matko and 5 more
Published_date :  October 2021
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370221000722

Paper_Title :  Law and logic: A review from an argumentation perspective
Authors:  Prakken, Henry, Sartor, Giovanni
Published_date :  October 2015
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370215000910

Paper_Title :  Creativity and artificial intelligence
Authors:  Boden, Margaret A.
Published_date :  August 1998
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370298000551

Paper_Title :  Artificial cognition for social human–robot interaction: An implementation
Authors:  Lemaignan, Séverin, Warnier, Mathieu and 3 more
Published_date :  June 2017
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370216300790

Paper_Title :  Explanation in artificial intelligence: Insights from the social sciences
Authors:  Miller, Tim
Published_date :  February 2019
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370218305988

Paper_Title :  Making sense of sensory input
Authors:  Evans, Richard, Hernández-Orallo, José and 3 more
Published_date :  April 2021
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370220301855

Paper_Title :  Conflict-based search for optimal multi-agent pathfinding
Authors:  Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R.
Published_date :  February 2015
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370214001386

Paper_Title :  Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning
Authors:  Sutton, Richard S., Precup, Doina, Singh, Satinder
Published_date :  August 1999
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370299000521

Paper_Title :  The Hanabi challenge: A new frontier for AI research
Authors:  Bard, Nolan, Foerster, Jakob N. and 13 more
Published_date :  March 2020
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370219300116

Paper_Title :  Evaluating XAI: A comparison of rule-based and example-based explanations
Authors:  van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark
Published_date :  February 2021
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370220301533

Paper_Title :  Argumentation in artificial intelligence
Authors:  Bench-Capon, T.J.M., Dunne, Paul E.
Published_date :  October 2007
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370207000793

Paper_Title :  Algorithms for computing strategies in two-player simultaneous move games
Authors:  Bošanský, Branislav, Lisý, Viliam and 3 more
Published_date :  August 2016
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370216300285

Paper_Title :  Multiple object tracking: A literature review
Authors:  Luo, Wenhan, Xing, Junliang and 4 more
Published_date :  April 2021
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370220301958

Paper_Title :  Selection of relevant features and examples in machine learning
Authors:  Blum, Avrim L., Langley, Pat
Published_date :  December 1997
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370297000635

Paper_Title :  A survey of inverse reinforcement learning: Challenges, methods and progress
Authors:  Arora, Saurabh, Doshi, Prashant
Published_date :  August 2021
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370221000515

Paper_Title :  Explaining individual predictions when features are dependent: More accurate approximations to Shapley values
Authors:  Aas, Kjersti, Jullum, Martin, Løland, Anders
Published_date :  September 2021
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370221000539

Paper_Title :  A review of possible effects of cognitive biases on interpretation of rule-based machine learning models
Authors:  Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes
Published_date :  June 2021
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370221000096

Paper_Title :  Integrating social power into the decision-making of cognitive agents
Authors:  Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.
Published_date :  December 2016
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370216300868

Paper_Title :  “That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems
Authors:  Riveiro, Maria, Thill, Serge
Published_date :  September 2021
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370221000588

Paper_Title :  Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies
Authors:  Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T.
Published_date :  May 2021
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370221000102

Paper_Title :  Algorithm runtime prediction: Methods & evaluation
Authors:  Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin
Published_date :  January 2014
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370213001082

Paper_Title :  Wrappers for feature subset selection
Authors:  Kohavi, Ron, John, George H.
Published_date :  December 1997
Paper_URL : https://www.sciencedirect.com/science/article/pii/S000437029700043X

Paper_Title :  Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics
Authors:  Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna
Published_date :  October 2021
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370221000734

Paper_Title :  Quantum computation, quantum theory and AI
Authors:  Ying, Mingsheng
Published_date :  February 2010
Paper_URL : https://www.sciencedirect.com/science/article/pii/S0004370209001398

7)Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

In [11]:
import requests
from bs4 import BeautifulSoup
url="https://www.cnbc.com/world/"
response=requests.get(url)
soup = BeautifulSoup(response.content)

News=soup.find_all("li",class_="LatestNews-item")
Headlines=soup.find("div",class_="LatestNews-container")

for Headlines in News:
    Headline = Headlines.find(class_="LatestNews-headline").text
    Time=Headlines.find('time',class_="LatestNews-timestamp").text
    
    Headline_URL=Headlines.find("div",class_="LatestNews-headlineWrapper").a['href']
    print("Headline : ",Headline )
    print("Time: ",Time)
   
    print("Headline_URL :", Headline_URL)
    print("")

Headline :  Elon Musk challenges Twitter CEO Parag Agrawal to a debate on bots
Time:  8 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/elon-musk-challenges-twitter-ceo-parag-agrawal-to-a-debate-on-bots.html

Headline :  Large Indiana employers Eli Lilly and Cummins speak out about the state's new restrictive abortion law
Time:  9 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/eli-lilly-says-indianas-abortion-law-will-lead-the-drugmaker-to-grow-in-other-states.html

Headline :  Czech prince raises $300,000 in NFTs to restore castles and ancient artifacts
Time:  12 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/27-year-old-bohemian-prince-raises-300000-in-nfts-to-preserve-and-share-castles-and-ancient-artifacts.html

Headline :  President Joe Biden tests negative for Covid-19 after rebound case
Time:  12 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/president-joe-biden-tests-negative-for-covid-19-after-rebound-case.html

Headline :  Fed Governor Bowman sees 'similarly sized' interest rate hikes ahead
Time:  13 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/fed-governor-bowman-sees-similarly-sized-rate-hikes-ahead-after-three-quarter-point-moves.html

Headline :  This 39-year-old makes $160K/month in passive income—a look at his typical day: 'I work 5 hours a week'
Time:  14 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/this-39-year-old-makes-160000-month-in-passive-income-a-look-at-his-typical-day-i-work-5-hours-a-week.html

Headline :  Most of Buffett’s portfolio is tied up in just 5 stocks. Here’s what they are
Time:  15 Hours Ago
Headline_URL : /pro/

Headline :  5 tips for cutting down on credit card costs ahead of rising interest rates
Time:  15 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/how-to-curb-credit-card-debt-now-before-interest-rates-rise-again.html

Headline :  This 41-year-old left the U.S. for Bangkok and lives on $8,000 a month
Time:  16 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/this-digital-nomad-left-the-us-for-bangkok-and-lives-on-8000-per-month.html

Headline :  It's time to cash in on these attractive stocks, according to Goldman Sachs
Time:  16 Hours Ago
Headline_URL : /pro/

Headline :  Here's why getting fired from a job you hate can still be upsetting
Time:  16 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/therapist-getting-fired-from-a-toxic-job-can-still-be-upsetting.html

Headline :  'Stressed out' STD clinics struggle with surge in monkeypox patients
Time:  16 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/monkeypox-std-clinics-struggle-with-surge-in-patients-amid-outbreak-.html

Headline :  Want to build generational wealth? Avoid these 7 U.S. cities
Time:  16 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/building-generational-wealth-avoid-these-cities-in-texas-california.html

Headline :  A.I.-powered drug hunters are nearing a pivotal stage in their development
Time:  16 Hours Ago
Headline_URL : /pro/

Headline :  The 2022 stock market doesn't have to repeat — it only has to rhyme
Time:  16 Hours Ago
Headline_URL : /pro/

Headline :  Berkshire reports operating earnings surge, but posts big investment loss
Time:  16 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/berkshire-hathaway-brk-earnings-q2-2022.html

Headline :  Why the best states for business may be the worst for workers
Time:  17 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/state-worker-protections.html

Headline :  Higher prices, skimpier portions and apps — how fast-food chains are changing value deals
Time:  17 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/higher-prices-skimpier-portions-apps-fast-food-deals-are-changing.html

Headline :  What to know before 'unretiring' if you're on Social Security
Time:  17 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/social-security-retirement-benefits-what-to-know-if-you-unretire.html

Headline :  Netflix is expanding its push into video games, but few subscribers are playing
Time:  17 Hours Ago
Headline_URL : https://www.cnbc.com/2022/08/06/netflixs-video-game-push-sees-few-subscribers-playing-along.html

Headline :  There are 'more intelligent ways' for U.S. to support Taiwan: ex-Singapore diplomat
Time:  August 5, 2022
Headline_URL : https://www.cnbc.com/2022/08/06/speaker-pelosis-taiwan-visit-made-things-worse-ex-singapore-diplomat.html

Headline :  California DMV accuses Tesla of deceptive marketing around Autopilot, FSD
Time:  August 5, 2022
Headline_URL : https://www.cnbc.com/2022/08/05/california-dmv-says-tesla-fsd-autopilot-marketing-deceptive.html

Headline :  Gig economy stocks pop after companies show strong demand for their services
Time:  August 5, 2022
Headline_URL : https://www.cnbc.com/2022/08/05/uber-and-lyft-stocks-had-their-best-week-ever.html

Headline :  Twitter-Musk drama escalates in legal filings as both sides claim bad behavior
Time:  August 5, 2022
Headline_URL : https://www.cnbc.com/2022/08/05/twitter-musk-drama-escalates-in-legal-filings-claiming-bad-behavior.html

Headline :  CNBC in 5 minutes: Here are all the stock calls made on CNBC today
Time:  August 5, 2022
Headline_URL : /pro/

Headline :  More Americans worked part-time last month as recession fears linger
Time:  August 5, 2022
Headline_URL : https://www.cnbc.com/2022/08/05/july-jobs-report-shows-more-americans-working-part-time.html

Headline :  Big Oil is giving back tons of cash — and other things we've learned from earnings
Time:  August 5, 2022
Headline_URL : /investingclub/

Headline :  Investing Club: The week in review, the week ahead — August 5, 2022
Time:  August 5, 2022
Headline_URL : /investingclub/

Headline :  Schumer says Sinema left 'no choice' but to cut carried interest from key bill
Time:  August 5, 2022
Headline_URL : https://www.cnbc.com/2022/08/05/sinema-made-schumer-cut-carried-interest-loophole-from-reconciliation-bill.html

Headline :  Danger ahead: The U.S. economy has yet to face its biggest recession challenge
Time:  August 5, 2022
Headline_URL : https://www.cnbc.com/2022/08/05/danger-ahead-the-us-economy-has-yet-to-face-its-biggest-recession-challenge.html

9)Write a python program to scrape mentioned details from dineout.co.in :

In [12]:
import requests
from bs4 import BeautifulSoup
url="https://www.dineout.co.in/indore?loc=Indore"
response=requests.get(url)
soup = BeautifulSoup(response.content)
#print(soup)
Restaurants=soup.find_all("div",class_="_3ZUwv")
Restaurant=soup.find("div",class_="_3ZUwv")

#print(Restaurants)
#print(Restaurant)
for Restaurant in Restaurants:
    

    Restaurant_name = Restaurant.find("h4",class_="_1jbOb").text
    Location=Restaurant.find('p',class_="_1jbOb").text
    Rating=Restaurant.find('div',class_="kGUdK _1oTbl").text
    Link=Restaurant.find('div',class_="_2DVRC").img['data-src']
    
    
    print("Restaurant_name : ",Restaurant_name )
    print("Location: ",Location)
    print("Rating: ",Rating)
    print("Link: ",Link)

Restaurant_name :  Rang Marathi
Location:  Sudama Nagar, South Indore
Rating:  3.3
Link:  https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/i/u/p56660-15569810115ccda513d24e1.jpg?tr=tr:n-large
Restaurant_name :  2o2 Di Restro Cafe
Location:  Rajendra Nagar, South Indore
Rating:  3.6
Link:  https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/b/n/p86126-161848824360782bb387366.jpg?tr=tr:n-large
Restaurant_name :  Naivedyam Restaurant
Location:  Rajendra Nagar, South Indore
Rating:  2.8
Link:  https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/b/p71059-15744966435dd8e983a8d1c.jpg?tr=tr:n-large
Restaurant_name :  Oh! Indore - Flavours Of Jail - Pure Veg Restaurant
Location:  Bhanwar Kuan, South Indore
Rating:  4.4
Link:  https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/k/s/p103937-164543214262134d4ef3b13.jpg?tr=tr:n-large

10)Write a python program to scrape the details of top publications from Google Scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en

In [13]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
url="https://scholar.google.com/citations?view_op=top_venues"
response=requests.get(url)

soup = BeautifulSoup(response.content,"html.parser")

#print(soup)
myTable=soup.find('table',{'class':'gsc_mp_table'})
myTable
row_headers=[]
for x in myTable.find_all('tr'):
    for y in x.find_all('th'):
        row_headers.append(y.text)
row_headers
tableValues=[]
for x in myTable.find_all('tr')[1:]:
    td_tags=x.find_all('td')
    td_val = [y.text for y in td_tags]
    tableValues.append(td_val)
tableValues
df=pd.DataFrame(tableValues,columns=['Rank','Publication','h5-index','h5-median'])
df

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]

2)Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [14]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
        for b in soup.select('td.posterColumn span[name=ir]')]

list = []
for index in range(0, 100):

    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_name = movie[len(str(index))+1:-7]
    year_of_release= re.search('\((.*?)\)', movie_string).group(1)
    
    data = {
            "movie_name": movie_name,
            "rating":ratings[index],
            "year_of_release": year_of_release,
            }
    list.append(data)


for movie in list:
    ( movie['movie_name'], '(' +movie['year_of_release'] , movie['rating'])

df = pd.DataFrame(list)
df.to_csv('imdb_top_250_movies.csv',index=False)
df

                           movie_name             rating year_of_release
0            The Shawshank Redemption  9.234551547968831            1994
1                       The Godfather  9.156467447442855            1972
2                     The Dark Knight  8.986868143620159            2008
3               The Godfather Part II  8.984643521434146            1974
4                        12 Angry Men  8.949004125379105            1957
..                                ...                ...             ...
95                             Jagten  8.255570173060574            2012
96  M - Eine Stadt sucht einen Mörder  8.254750227826436            1931
97                 North by Northwest  8.252988061630097            1959
98                            Vertigo  8.247278174523581            1958
99                       Idi i smotri  8.246615972427463            1985

[100 rows x 3 columns]

3)Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [15]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd


# Downloading imdb top 250 movie's data
url = 'https://www.imdb.com/india/top-rated-indian-movies/'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
        for b in soup.select('td.posterColumn span[name=ir]')]




# create a empty list for storing
# movie information
list = []

# Iterating over movies to extract
# each movie's details
for index in range(0, 100):
    
    # Separating movie into: 'place',
    # 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"place": place,
            "movie_title": movie_title,
            "rating": ratings[index],
            "year": year,
            }
    list.append(data)


for movie in list:
        (movie['place'], '-', movie['movie_title'], '('+movie['year'] +
        ') -',movie['rating'])



df = pd.DataFrame(list)
df.to_csv('imdb_top_250_movies.csv')
df.set_index('place')

                       movie_title             rating  year
place
1       Rocketry: The Nambi Effect   8.48639162102755  2022
2                       Anbe Sivam  8.398118709207884  2003
3                          Golmaal  8.390050028931475  1979
4                         Jai Bhim  8.384914687854318  2021
5                          Nayakan  8.384837780001678  1987
...                            ...                ...   ...
96                 Rang De Basanti      8.01406400819  2006
97                          Baasha   8.01216548521176  1995
98     Baahubali 2: The Conclusion  8.007769874241347  2017
99                          Masaan  8.007255540840514  2015
10                         Kahaani  8.005622665784061  2012

[100 rows x 3 columns]